.container{
    background-color: #655609;
    border-radius: 20px;
    
}
.Details{
    background-color: #098383;
    float: right;
    border-radius: 20px;
    width: 50%;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.fig1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #098383;
    
    
}
.section2{
    background-color: #655609 ;
   
}
h2{
    text-align: center;
    background-color: #18A33F;
    width: 80%;
    margin: 20px;
    margin-right: 20px;
   color: #B52C96;
   border-radius: 10px;
}
ul{
    background-color: #c46565;
    width: 40%;
    margin: 20px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}
.section2{
    /* float: right; */
    
}
.second{
    /* display: flex;
    flex-direction: row; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: larger;
    padding: 10px;
}
h3{
    background-color: #37A11D;
    text-align: center;
    width: 80%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.about{
    background-color: #1B18A7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
.footer{
    background-color: #140101;
    color: #B33CB6;
    text-align: center;
    padding: 10px;
    width: 80%;
    /* margin: 20px; */
    border-radius: 20px;
    margin-left: 40px;
    font-size: larger;
}
h3{
    color: #B33CB6;
    font-size: larger;
}

    

